<div class="game-selection">
  <p class="screen-title">GAME SELECTION</p>
  <div class="grid-noGutters">
    <div class="col">
      <img src="./assets/img/dota-logo-large.png" class="logo" alt="">
      <p class="game-title">DOTA 2</p>
      <span class="game-info">Players in queue: <span class="game-info-highlight">456</span></span>
      <span class="game-info">Buy-in: <span class="game-info-highlight">100PT</span></span>
      <span class="game-info">Match type: <span class="game-info-highlight">5 V 5</span></span>
    </div>
    <div class="col option option-selected">
      <div class="option-tab">
        <div class="icon-info">i</div>
        <span>QUEUE</span>
      </div>
      <div class="option-content">
        <span>SOLO</span>
        <div class="option-icon">
          <img src="./assets/img/profile.png" class="" alt="">
        </div>
        <div class="btn">JOIN QUEUE</div>
      </div>
    </div>
    <div class="col option">
      <div class="option-tab">
        <div class="icon-info">i</div>
        <span>VERSUS</span>
      </div>
      <div class="option-content">
        <span>PARTY</span>
        <div class="option-icon">
          <img src="./assets/img/profile.png" class="" alt="">
          <img src="./assets/img/profile.png" class="" alt="">
          <img src="./assets/img/profile.png" class="" alt="">
        </div>
        <div class="btn">SELECT PARTY</div>
      </div>
    </div>
    <div class="col option">
      <div class="option-tab">
        <div class="icon-info">i</div>
        <span>TOURNAMENT</span>
      </div>
      <div class="option-content">
        <span>TEAM</span>
        <div class="option-icon team-icon">
          <img src="./assets/img/profile.png" class="" alt="">
          <img src="./assets/img/profile.png" class="" alt="">
          <img src="./assets/img/profile.png" class="" alt="">
        <div class="option-icon">
        <div class="btn">SELECT TEAM</div>
      </div>
    </div>
  </div>
</div>
