.btn {
  display: inline-block;
  border-radius: rem(4);
  background: linear-gradient(180deg, #609B3A 0%, #609B3A 9.36%, #4E743D 100%);
  padding: rem(7) rem(40);
  font-size: rem(15);
  text-shadow: rem(1) rem(1) rem(1) rgba(0,0,0,0.3);
  font-weight: 600;

  &-gray {
    background: linear-gradient(180deg, #55535E 0%, #2F2E36 100%);
  }
}
