<div class="header">
  <nav class="grid-noGutter-noBottom">
    <div class="col">
      <div class="header-padding">
        <div class="grid-noGutters-noBottom-middle">
          <div class="col-3">
            <div class="dota-logo">
              <img src="./assets/img/dota-logo.png" class="" alt="">
            </div>
          </div>
          <div class="col">
            <span class="title">Dota 2</span>
          </div>
          <div class="col-1">
            <div class="plus-sign"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 header-col">
      <div class="header-logo">
        <img src="./assets/img/FB_header.png" class="" alt="">
      </div>
    </div>
    <div class="col header-col">
      <div class="header-padding">
        <div class="grid-noGutters-noBottom-middle">
          <div class="col-3">
            <div class="player-profile-background">
              <div class="player-profile-img"></div>
            </div>
          </div>
          <div class="col">
            <div class="player-profile">
              <div class="player-profile-name">
                gofra
              </div>
              <img src="./assets/img/PT_token.png" class="" alt="">
              <div class="player-profile-cash">0.00</div>
            </div>
          </div>
          <div class="down-sign"></div>
        </div>
      </div>
    </div>
  </nav>
</div>
