<div class="header">
  <nav class="grid-noGutter-noBottom">
    <div class="col">
      <img src="./assets/img/dota-logo.png" class="logo" alt="">
      <span>Dota 2</span>
      <div class="plus-sign"></div>
    </div>
    <div class="col-6">
      <div class="grid-center">
        <img src="./assets/img/FB_header.png" class="" alt="">
      </div>
    </div>
    <div class="col">
      <div class="player-profile-background">
        <div class="player-profile-img"></div>
      </div>
      <div class="player-profile">
        <p>gofra</p>
        <img src="./assets/img/PT_token.png" class="" alt="">
        <span>0.00</span>
      </div>
      <div class="down-sign"></div>
    </div>
  </nav>
</div>
