<div class="match-end">
  <div class="grid-noGutters">
    <div class="col-12 grid-noGutters top">
      <div class="col-3 left">
        <span class="left-big">MATCH</span>
        <span class="left-small">Game mode: <span class="left-highlight">Captains pick</span></span>
        <span class="left-small">Server: <span class="left-highlight">EU_24</span></span>
        <a href="/" class="left-link">Match rules</a>
      </div>
      <div class="col-6 center">
        <span class="center center-big">THE ANIHILATORS WIN</span>
        <span class="center center-small">Radiant Victory</span>
      </div>
      <div class="col-3 right">
        <span class="right-small">Buy-in per user: <span class="right-highlight">100 PT</span></span>
        <span class="right-small">Reward per user: <span class="right-highlight">200 PT</span></span>
        <span class="right-small">Match time: <span class="right-highlight">38:52</span></span>
      </div>
    </div>
    <div class="col-6">
      <div class="middle">
        <span class="middle-big">Radiant</span>
        <span class="middle-small">Radiant</span>
        <div class="middle-tag">
          <div class="middle-tag-img">
            <img src="./assets/img/profile.png" class="profile-img" alt="">
          </div>
          <div class="middle-tag-profile">
            <span class="name">King Slayer</span>
            <img src="./assets/img/message-bubble.png" class="icon" alt="">
            <img src="./assets/img/add-friend.png" class="icon" alt="">
          </div>
          <div class="btn btn-gray middle-tag-badge">CAPTAIN</div>
        </div>
      </div>
    </div>
    <div class="col-6 text-right">
      <div class="middle">
        <span class="middle-big">Radiant</span>
        <span class="middle-small">Radiant</span>
        <div class="middle-tag">
          <div class="btn btn-gray middle-tag-badge badge-right">CAPTAIN</div>
          <div class="middle-tag-profile right">
            <span class="name">King Slayer</span>
            <img src="./assets/img/message-bubble.png" class="icon" alt="">
            <img src="./assets/img/add-friend.png" class="icon" alt="">
          </div>
          <div class="middle-tag-img">
            <img src="./assets/img/profile.png" class="profile-img" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      SCOREBOARD
      <div class="scoreboard">
          Scoreboard will be available once the match has ended.
      </div>
    </div>
  </div>
</div>
