<div class="matchmaking">
  <p class="screen-title">MATCHMAKING</p>
  <div class="grid-noGutters">
    <div class="col-3 col-border">
      <div class="dota-logo">
        <img src="./assets/img/dota-logo-large.png" class="" alt="">
      </div>
      <p class="game-title">DOTA 2</p>
      <span class="game-info">Players in queue: <span class="game-info-highlight">456</span></span>
      <span class="game-info">Buy-in: <span class="game-info-highlight">100PT</span></span>
      <span class="game-info">Match type: <span class="game-info-highlight">5 V 5</span></span>
    </div>
    <div class="col-9 col-border grid">
      <div class="col-bottom">
        <img src="./assets/img/matchmaking-bg.png" alt="">
      </div>
      <div class="content col-top">
        <span class="content-status">{{status}}</span>
        <span class="content-message">{{message}}<span *ngIf="this.appService.searching" class="content-time">{{searchTimer}}</span></span>
        <span *ngIf="!this.appService.searching" class="content-time">{{matchTimer}}</span>
        <div *ngIf="this.appService.searching" class="content-tips">
          <span class="content-tips-title">Did you know …</span>
          <span>Keep a TP. Always. Atleast past the laning phase , when the game shifts into tower takedowns and mass rotations. Town Portal Scrolls are a game changing item. They help you get out of tricky situations. They help you get into ganks to demolish the other team.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div (click)="this.appService.cancel()" class="btn btn-gray btn-cancel">CANCEL</div>
    <div *ngIf="!this.appService.searching" (click)="confirmMatch()" class="btn btn btn-confirm">CONFIRM</div>
  </div>
</div>
