<div class="countdown grid-noGutters">
  <div class="col">
    <img src="./assets/img/FB_shield.png" class="shield" alt="">
  </div>
  <div class="col-7">
    <span class="title">BATTLE TIME COUNTDOWN</span>
    <span class="message">Join us at the next Battle Time on Thursday, 22th of March!</span>
  </div>
  <div class="col">
      <div class="timer">
          <span class="timer-number">02</span>
          <div class="timer-unit">
            DAYS
          </div>
      </div>
      <div class="timer">
        <span class="timer-number">11</span>
        <div class="timer-unit">
          HOURS
        </div>
      </div>
      <div class="timer">
        <span class="timer-number">03</span>
        <div class="timer-unit">
          MINS
        </div>
      </div>
  </div>
</div>
