@import '../../../assets/styles/style';

.countdown {
  min-height: rem(90);
  background-color: rgba(153, 153, 153, 0.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  color: #D2D2D2;
}

.shield {
  display: inline-block;
}


.timer {

  &-background {
    height: rem(40);
    max-width: rem(40);
    border-radius: rem(8);
    background-color: #171717;
    margin: 0 rem(10);
    position: relative;
    }
}

.under {
  position: absolute;
  bottom: rem(-20);
  left: 0;
  font-size: rem(11);
}
