<div class="countdown grid-noGutters">
  <div class="col">
    <img src="./assets/img/FB_shield.png" class="shield" alt="">
  </div>
  <div class="col-7">
    <h3>BATTLE TIME COUNTDOWN</h3>
    <p>Join us at the next Battle Time on Thursday, 22th of March!</p>
  </div>
  <div class="col">
    <div class="grid-center-noGutters">
      <div class="col timer-background">
          02
          <div class="under">
            DAYS
          </div>
      </div>
      <div class="col timer-background">
        11
        <div class="under">
          HOURS
        </div>
      </div>
      <div class="col timer-background">
        03
        <div class="under">
          MINS
        </div>
      </div>
    </div>
  </div>
</div>
